# --- FICHIERS EEG ---
*.eeg
*.vhdr
*.vmrk
*.fif

# --- FICHIERS IMAGES ---
*.png
*.eps

# --- FICHIERS GÉNÉRÉS PYTHON ---
*.pyc
__pycache__/

# --- FICHIERS NUMPY ---
*.npy
*.npz

# --- DOSSIERS DE RÉSULTATS (à adapter selon tes besoins) ---
final_5_PSD/
group_psd/
psd_images/

# ------ ANALYSIS OUTPUT ------
Exploratory_Analysis_MS/Description of the tics by patients -- S.md
Exploratory_Analysis_MS/TRF_results_all_patients/
Exploratory_Analysis_MS/TRF_topomap_results_ (freq bands)/
Exploratory_Analysis_MS/TRF_results_all_patients_boundary_effect/
Exploratory_Analysis_MS/tfr_results/





