# =========================
# Python / cache
# =========================
*.pyc
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# =========================
# EEG / neuroimaging data (do not commit)
# =========================
*.eeg
*.vhdr
*.vmrk
*.fif

# If you ever use other EEG formats:
*.edf
*.bdf
*.set
*.fdt

# =========================
# Numpy / data blobs
# =========================
*.npy
*.npz

# ------ WHOLE FOLDERS ------
_indira/
_martyna/
dataset/sub-*





